@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  display: flex;
  flex-direction: column;
  margin: 43px 0px;
  padding: 0px 20px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 12px;
}
.section-title {
  color: #d67da1;
  font-weight: 800;
  margin-bottom: 14px;
}
.subsection {
  margin-top: 20px;
}
.copyright {
  display: flex;
  font-size: 14px;
  color: #979797;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
.provider-login {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 16px;
  background-color: #c69ba3;
}
.social-networks {
  margin-top: 10px;
  font-size: 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  max-width: 250px;
  width: 100%;
  margin-right: 8px;
}
.social-networks a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}
.site-total-reviews-container {
  text-align: center;
  width: 300px;
  margin: 0 auto 50px;
}
.site-total-reviews {
  direction: ltr;
  font-size: 40px;
  color: #c69ba3;
  border-radius: 100px;
  border: 2px solid #f0f0f0;
  font-family: almoni-tzar, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-total-reviews > span {
  border-left: 2px solid #f0f0f0;
  padding: 6px 10px 0;
  line-height: 58px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent blackish color */
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 2;
}
.heading{
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
  margin: 20px 0px;
}
.disclaimer_text{
  padding: 27px 135px;
  background-color: #c59ba3;
  color: white;
  font-size: 15px;
  text-align: center;
}
.tag{
  font-size: 16px;
  padding: 2px 18px;
  margin: 5px 0 5px 5px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #b2b2b2;
  font-weight: 500;
  border-radius: 100px;
  width: min-content;
  white-space: nowrap;
  border: 1.8px solid #b2b2b2;
}
.date{
  max-width: 330px;
  min-height: 7px;
  font-size: 14px;
}