@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  display: flex;
  flex-direction: column;
  margin: 43px 0px;
  padding: 0px 20px;
}

.section-title {
  color: #d67da1;
  font-weight: 800;
  margin-bottom: 14px;
}

.subsection {
  margin-top: 20px;
}

.copyright {
  display: flex;
  font-size: 14px;
  color: #979797;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}

.provider-login {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 16px;
  background-color: #c69ba3;
}

.social-networks {
  margin-top: 10px;
  font-size: 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  max-width: 250px;
  width: 100%;
  margin-right: 8px;
}

.social-networks a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}

.site-total-reviews-container {
  text-align: center;
  width: 300px;
  margin: 0 auto 50px;
}

.site-total-reviews {
  direction: ltr;
  font-size: 40px;
  color: #c69ba3;
  border-radius: 100px;
  border: 2px solid #f0f0f0;
  font-family: almoni-tzar, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-total-reviews > span {
  border-left: 2px solid #f0f0f0;
  padding: 6px 10px 0;
  line-height: 58px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent blackish color */
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 2;
}

.heading {
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
  margin: 20px 0px;
}

.disclaimer_text {
  padding: 27px 135px;
  background-color: #c59ba3;
  color: white;
  font-size: 15px;
  text-align: center;
}

.tag {
  font-size: 16px;
  padding: 2px 18px;
  margin: 5px 0 5px 5px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #b2b2b2;
  font-weight: 500;
  border-radius: 100px;
  width: min-content;
  white-space: nowrap;
  border: 1.8px solid #b2b2b2;
}

.date {
  color: #b2b2b2;

  max-width: 330px;
  min-height: 7px;
  font-size: 14px;
}

.title-head {
  font-size: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

.search-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-flow: column;
}

.desktop-only {
  display: block;
}

.search-section .search-form-popular-searches {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
}

@media (min-width: 750px) {
  .search-section img.mobile-only {
    display: none;
  }
}

@media (min-width: 750px) {
  .search-section .search-form-popular-searches {
    bottom: 40%;
  }
}

@media (min-width: 375px) {
  .search-section .search-form-popular-searches {
    bottom: 32%;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

@media (min-width: 750px) {
  .search-section .search-form-popular-searches .searchable-section {
    bottom: 150px;
    font-size: 26px;
    left: 0;
    right: 0;
  }
}

.links {
  display: flex;
  gap: 15px;
  font-size: 12px;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-section .search-form-popular-searches .searchable-section .search-bar {
  background-color: #f1f1f1;
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 10px 18px 10px 0;
  align-items: center;
  border: none;
}

@media (min-width: 750px) {
  .search-section img.mobile-only {
    display: none;
  }
}

@media (max-width: 750px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 750px) {
  .search-section .search-form-popular-searches .popular-searches {
    bottom: 90px;
    font-size: 20px;
  }
}

.search-section .search-form-popular-searches .popular-searches {
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  background-color: #d4d4d4;
  font-size: 16px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: 10px auto 0;
  opacity: 0.9;
  padding: 10px;
  text-align: center;
}

.search-section .add-review-button a .pink-button {
  font-size: 14px;
  padding: 6px 24px;
  max-width: 300px;
  width: auto;
  font-family: almoni-neue-regular, sans-serif;
}

.search-section .add-review-button .pink-button {
  margin: 30px auto 30px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 18px;
  background-color: #c69ba3;
  max-width: 150px;
  width: 100%;
  background-color: #de97b2;
  max-width: 202px;
  border: none;
  padding: 14px 20px;
}

.search-section .add-review-button {
  display: flex;
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14%;
  justify-content: center;
  /* margin: 0 auto; */
}

@media (min-width: 750px) {
  .search-section .add-review-button {
    bottom: 22%;
  }
}

@media (min-width: 375px) {
  .search-section .add-review-button {
    bottom: 18%;
  }
}

@media (min-width: 750px) {
  .search-section .add-review-button a .pink-button {
    font-size: 24px;
    padding: 10px 46px;
  }
}

@media (min-width: 480px) {
  .search-section .add-review-button a .pink-button {
    font-size: 20px;
  }
}

.search-section .add-review-button a .pink-button {
  font-size: 14px;
  padding: 6px 24px;
  max-width: 300px;
  width: auto;
  font-family: almoni-neue-regular, sans-serif;
}

.search-section .add-review-button .pink-button {
  margin: 30px auto 30px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 18px;
  background-color: #c69ba3;
  max-width: 150px;
  width: 100%;
  background-color: #de97b2;
  max-width: 202px;
  border: none;
  padding: 14px 20px;
}

.homepage .promoted-text {
  margin: -5% 20px 60px;
  text-align: justify;
}

.homepage .homepage-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.homepage .promoted-text {
  margin: -5% 20px 60px;
  text-align: justify;
}

@media (min-width: 750px) {
  .homepage .categories-container {
    background-color: #f6f6f6;
  }
}

.homepage .categories-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 10px;
}

@media (min-width: 750px) {
  .homepage .categories-container .title {
    font-size: 30px;
    background-color: #f6f6f6;
    /* margin: 15px auto 12px; */
    padding: 0;
    font-weight: 700;
    margin: 10px auto 12px;
  }
}

@media (min-width: 750px) {
  .homepage .categories-container {
    background-color: #f6f6f6;
  }
}

.categories-container {
  font-size: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
  font-size: 28px;
}

.categories .homepage .categories-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

@media (min-width: 900px) {
  .homepage .categories-container .categories .category_icon {
    width: 20%;
    margin-bottom: 45px;
  }
}

.homepage .categories-container .categories .category_icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 150px;
  margin-bottom: 35px;
}

@media (min-width: 750px) {
  .homepage .categories-container {
    background-color: #f6f6f6;
  }
}

.homepage .categories-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 10px;
}

.homepage .categories-container .categories .category_icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 150px;
  margin-bottom: 35px;
}

.homepage
  .categories-container
  .categories
  .category_icon
  a
  .category-main-icon {
  display: block;
  margin: 0 auto;
}

@media (min-width: 450px) {
  .homepage
    .categories-container
    .categories
    .category_icon
    .category-main-icon {
    width: 115px;
    height: 115px;
  }
}

.homepage .categories-container .categories .category_icon .category-main-icon {
  width: 140px;
  height: 140px;
}

.category_icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 150px;
  margin-bottom: 35px;
}

@media (min-width: 900px) {
  .homepage .categories-container .categories .category_icon {
    width: 20%;
    margin-bottom: 45px;
  }
}

.homepage .categories-container .categories .category_icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 150px;
  margin-bottom: 35px;
}

@media (min-width: 900px) {
  .category_icon {
    width: 20%;
    margin-bottom: 45px;
  }
}

.credits-posts {
  margin-top: 20px;
}

@media (min-width: 750px) {
  .credits-posts .hide-desktop {
    display: none;
  }
}

.credits-posts {
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  width: 100%;
}

.credits-posts .subtitle {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 750px) {
  .credits-posts .hide-desktop {
    display: none;
  }
}

.posts {
  margin: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin-bottom: 0;
  display: flex;
  display: grid;
  grid-gap: 50px 10px;
}

@media (min-width: 750px) {
  .posts {
    display: flex;
  }
}

@media (min-width: 750px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
  }
}

@media (min-width: 750px) {
  .open-more-posts-button {
    display: block;
    margin-left: 2px;
  }
}

.open-more-posts-button {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 750px) {
  .facebook-friends .text {
    line-height: 39px;
    font-size: 28px;
    display: none;
  }
}

.text {
  display: flex;
  justify-content: center;
  line-height: 29px;
  font-size: 24px;
}

@media (min-width: 750px) {
  .text-wide {
    line-height: 39px;
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}

.homepage .facebook-friends .text-wide {
  display: none;
}

@media (min-width: 750px) {
  .button {
    margin-top: 30px;
    position: relative;
    padding: 20px 10px;
  }
}

/* .button {
  border-radius: 33px;
  background-color: #1776f2;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 12px 10px;
  width: 270px;
  position: absolute;
  margin-top: 148px;
  align-self: center;
} */
.button {
  border-radius: 33px;
  background-color: #1776f2;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 12px 10px;
  width: 270px;
  /* position: absolute; */
  margin-top: 80px;
  align-self: center;
}

@media (min-width: 750px) {
  .facebook-friends {
    background-color: #f6f6f6;
    margin: 35px auto 0;
    padding-bottom: 35px;
  }
}

.facebook-friends {
  padding: 25px 0 45px;
}

.latest-reviews {
  width: 100%;
  margin-top: 35px;
}

.latest-reviews .title span {
  background: #fff;
  padding: 0 12px;
}

hr {
  width: 90%;
}

/* 
@media (min-width: 750px) {
  .title {
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #d49bb1;
    line-height: .1px;
    margin: 10px 0 20px;
    display: block;
  }
} */

.need-to-know .posts a {
  margin: 0;
}

.need-to-know .posts a {
  text-decoration: none;
  margin: 0 0 15px;
  flex-wrap: wrap;
  color: #000;
  text-align: center;
  height: 100%;
  width: 100%;
}

.need-to-know .posts a {
  text-decoration: none;
}

@media (min-width: 750px) {
  .need-to-know-text {
    border: none;
    max-width: 300px;
    margin: 0 auto;
    font-size: 16px;
  }
}

.need-to-know-text {
  /* border: 1px solid #000; */
  color: #272727;
  font-size: 14px;
}

@media (min-width: 750px) {
  .need-to-know .posts a .image-container {
    max-width: 300px;
    max-height: 100%;
  }
}

.need-to-know .posts a .image-container {
  height: unset;
  max-width: 300px;
  max-height: 300px;
}

@media (min-width: 750px) {
  .need-to-know .posts a .image-container {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (min-width: 480px) {
  .need-to-know .posts a .image-container {
    max-width: 230px;
  }
}

@media (min-width: 375px) {
  .need-to-know .posts a .image-container {
    max-width: 166px;
  }
}

.need-to-know .posts a .image-container {
  margin: 0 auto 10px;
  overflow: hidden;
  height: 100%;
  max-width: 136px;
  max-height: 136px;
}

@media (min-width: 750px) {
  .need-to-know .posts a .image-container {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (min-width: 480px) {
  .need-to-know .posts a .image-container {
    max-height: 230px;
    max-width: 230px;
  }
}

@media (min-width: 375px) {
  .need-to-know .posts a .image-container {
    max-height: 166px;
    max-width: 166px;
  }
}

.need-to-know .posts a .image-container {
  margin: 0 auto 10px;
  overflow: hidden;
  height: 100%;
  max-width: 136px;
  max-height: 136px;
}

@media (min-width: 750px) {
  .need-to-know .posts a .image-container {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (min-width: 480px) {
  .need-to-know .posts a .image-container {
    max-height: 230px;
    max-width: 230px;
  }
}

@media (min-width: 375px) {
  .need-to-know .posts a .image-container {
    max-height: 166px;
    max-width: 166px;
  }
}

.need-to-know .posts a .image-container {
  max-width: 136px;
  max-height: 136px;
}

.breadcrumbs_add_review {
  box-sizing: border-box;
  font-size: 14px;
  color: #989898;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 0 20px;
  width: 100%;
  margin: 35px auto 50px;
  max-width: 1440px;
}

ul {
  list-style-type: none;
}

.add-review-container {
  margin: 0 auto;
}

.add-review-container .add-review {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: nowrap;
}

.add-review-container .add-review .left-side {
  max-width: 1000px;
}

.survey {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.add-review-container .add-review {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: nowrap;
}

.loading-popup {
  box-sizing: border-box;
  left: 0;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 40px;
  position: fixed;
  right: 0;
  top: 150px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 30px;
  z-index: 20;
}

.loading-popup img {
  margin: 0 auto;
  max-width: 262px;
  width: 100%;
}

.add-review-container .event-exists-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 25px auto 0;
  padding: 20px;
  overflow-y: auto;
  max-height: 500px;
  max-width: 700px;
  text-align: center;
  width: 80%;
  z-index: 20;
}

.survey .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 50px;
  border: none;
  align-items: flex-start;
  position: unset;
}

.survey .event-details {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: grey;
}

.survey .event-details > div {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.survey .event-details .form-input:first-of-type {
  margin-left: 20px;
}

.survey .event-details .location {
  color: #000;
  margin-top: 50px;
}

.survey .event-details .form-input {
  box-sizing: border-box;
  padding: 15px;
  max-width: 460px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: none;
}

.survey .event-details .form-input {
  box-sizing: border-box;
  padding: 15px;
  max-width: 460px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: none;
}

.survey .event-details .form-input.input-date {
  position: relative;
}

.survey .event-details .form-input:first-of-type {
  margin-left: 20px;
}

.survey .event-details .form-input {
  box-sizing: border-box;
  padding: 15px;
  max-width: 460px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: none;
}

.survey .event-details .form-input.input-date input {
  cursor: pointer;
}

.survey .event-details .form-input input {
  background-color: transparent;
  border: none;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.the-datepicker__deselect {
  display: none;
}

.survey .event-details .form-input i {
  font-size: 20px;
  position: absolute;
  top: 17px;
  left: 30px;
  z-index: 1;
}

.custom-select-container {
  background-color: #f2f2f2;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 460px;
  padding: 0 15px;
  position: relative;
  width: 100%;
  user-select: none;
}

i {
  font-family: wedreviews_front !important;
  /* speak: none; */
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.survey .event-details .form-input:first-of-type {
  margin-left: 20px;
}

.survey .event-details .placeholder-input {
  visibility: hidden;
}

.survey .event-details .form-input {
  box-sizing: border-box;
  padding: 15px;
  max-width: 460px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: none;
}

.custom-select-container .placeholder-input {
  display: none;
}

.survey .event-details .replier-type-container {
  font-size: 16px;
  font-weight: 700;
  color: grey;
  display: flex;
  flex-wrap: nowrap;
}

.survey .event-details > div {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.survey .event-details .replier-type-container .replier-type {
  cursor: pointer;
}

.survey .event-details .replier-type-container > div {
  margin: 25px 0 0 22px;
}

.survey .event-details .replier-type-container .replier-type.active .regular {
  display: none;
}

.survey .event-details .replier-type-container .replier-type img {
  width: 90px;
}

.survey .event-details .replier-type-container .replier-type .active {
  display: none;
}

.survey .event-details .replier-type-container .replier-type.active .active {
  display: block;
}

.survey .survey-form {
  width: 100%;
}

.survey .survey-form .question-text {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 38px;
}

.survey .survey-form .answer-container {
  display: flex;
  width: 100%;
  border-top: 9px solid #ccc;
  margin-bottom: 125px;
  justify-content: space-around;
  position: relative;
}

.survey .survey-form .answer-container .answer {
  cursor: pointer;
  max-width: 80px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  user-select: none;
}

.survey .survey-form .allow-images-container {
  display: flex;
  margin-bottom: 38px;
}

.survey .survey-form .error {
  color: red;
  height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
}

.survey .survey-form .submit-button-container {
  text-align: center;
}

.survey .survey-form .submit-button-container input {
  color: #fff;
  padding: 15px 46px;
  font-size: 18px;
  background-color: #c69ba3;
  border-radius: 33px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(51, 51, 51, 0.85);
}

/* .hidden {
  display: none !important;
} */

.survey .survey-form .answer-container .answer .tick {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: #ccc;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 50%;
}

@media (max-width: 750px) {
  .header {
    flex-wrap: nowrap;
  }
}

@media (max-width: 750px) {
  .breadcrumbs {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .add-review-container .add-review {
    flex-direction: column;
    padding: 0;
  }
}

@media (max-width: 750px) {
  .add-review-container .add-review .left-side {
    margin-top: 20px;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .survey {
    max-width: 460px;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .survey {
    padding: 0 10px;
  }
}

@media (max-width: 750px) {
  .survey .event-details {
    margin-bottom: 50px;
  }
}

@media (max-width: 750px) {
  .survey .event-details > div {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media (max-width: 750px) {
  .survey .event-details .form-input:first-of-type {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .custom-select-container {
    height: 53px;
    margin-bottom: 20px;
  }
}

.survey .event-details .form-input:first-of-type {
  margin-left: 20px;
}

.survey .event-details .placeholder-input {
  display: none;
}

.survey .event-details .placeholder-input {
  visibility: hidden;
}

@media (max-width: 750px) {
  .survey .event-details > div {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media (max-width: 750px) {
  .survey .survey-form .answer-container .answer .tick {
    display: none;
  }
}

@media (max-width: 750px) {
  .survey .survey-form .answer-container .answer {
    max-width: 460px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px 0;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .loading-popup {
    top: 30px;
    width: 80%;
  }
}

@media (max-width: 750px) {
  .add-review-container .event-exists-container {
    margin: 0 auto;
    top: 20px;
    max-height: 90%;
  }
}

_contact_us {
  display: flex;
  flex-wrap: wrap;
  font-family: almoni-neue-regular, sans-serif;
}

_contact_us .breadcrumbs {
  box-sizing: border-box;
  font-size: 14px;
  color: #989898;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 0 20px;
  width: 100%;
  margin: 35px auto 50px;
  max-width: 1440px;
}

_contact_us .breadcrumbs li {
  white-space: nowrap;
}

.general-page {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-flow: column;
}

@media (min-width: 750px) {
  .contact-us {
    flex-wrap: nowrap;
  }
}

@media (min-width: 750px) {
  .contact-us .contact_info {
    margin: 0 100px 0 0;
  }
}

.contact-us .contact_info {
  background: url(https://www.wedreviews.co.il/addons/shared_addons/themes/wed_reviews_main_site/img/contact_logos.png)
    no-repeat center top;
  margin: 100px auto;
}

.contact-us .contact_info .phone_numbers {
  padding-top: 50px;
  text-align: center;
}

.contact-us .contact_info .email_addresses {
  margin-top: 90px;
  text-align: center;
}

.contact-us .contact_us_form h1 {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 30px;
}

.contact-us .contact_us_form .form {
  max-width: 460px;
  position: relative;
}

.contact-us .contact_us_form .form .custom-select-container {
  height: 53px;
  margin-bottom: 25px;
}

.contact-us {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 100%;
}

.custom-select-container {
  background-color: #f2f2f2;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 460px;
  padding: 0 15px;
  position: relative;
  width: 100%;
  user-select: none;
}

.custom-select-container .placeholder-input {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.contact-us .contact_us_form .form .text_input,
.contact-us .contact_us_form .form textarea {
  box-sizing: border-box;
  padding: 15px;
  max-width: 460px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: none;
  margin-bottom: 25px;
}

custom-select-container .custom-select .custom-option {
  color: #000;
  padding: 15px 0;
}

.contact-us .contact_us_form .form textarea {
  height: 200px;
  resize: none;
}

.contact-us .contact_us_form .info .info_more {
  margin-bottom: 50px;
  padding-left: 50px;
}

.contact-us .contact_us_form .form .send_button {
  color: #fff;
  padding: 15px 46px;
  font-size: 18px;
  background-color: #c69ba3;
  border-radius: 33px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.survey .header h1 {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
}

.survey .header div {
  width: 100%;
  font-size: 16px;
  color: #000;
  max-width: 460px;
}

.survey .event-details .business_name,
.survey .event-details .location {
  color: #000;
  margin-top: 50px;
}

.survey .survey-form .reply-text {
  background-color: #f2f2f2;
  box-sizing: border-box;
  max-width: 990px;
  resize: none;
  padding: 27px;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 48px;
  min-height: 249px;
}

.survey .survey-form .error {
  color: red;
  height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
}

.add-review-container
  .add-review
  .right-side
  .provider-fixed-container.sticky-container
  > img {
  max-width: 180px;
}

.add-review-container
  .add-review
  .right-side
  .provider-fixed-container.sticky-container
  > img {
  max-width: 180px;
}

.add-review-container .add-review .right-side .provider-fixed-container > img {
  max-width: 240px;
  border-radius: 50%;
}

.add-review-container .add-review .right-side .provider-fixed-container > img {
  max-width: 240px;
  border-radius: 50%;
}

.add-review-container .add-review .right-side .provider-photo {
  max-width: 300px;
  width: 100%;
}

.add-review-container .add-review .right-side .provider-photo {
  max-width: 300px;
  width: 100%;
}

.add-review-container
  .add-review
  .right-side
  .provider-fixed-container.sticky-container
  .supplier-total-reviews {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.add-review-container
  .add-review
  .right-side
  .provider-fixed-container.sticky-container
  .supplier-total-reviews {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.add-review-container
  .add-review
  .right-side
  .provider-fixed-container
  .supplier-total-reviews {
  color: #989898;
  font-size: 38px;
  font-family: almoni-tzar, sans-serif;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  line-height: 70px;
  margin: 15px 0 20px;
}

.add-review-container
  .add-review
  .right-side
  .provider-fixed-container
  .supplier-total-reviews {
  color: #989898;
  font-size: 38px;
  font-family: almoni-tzar, sans-serif;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  line-height: 70px;
  margin: 15px 0 20px;
}

@media (max-width: 750px) {
  .header {
    flex-wrap: nowrap;
  }
}

@media (max-width: 750px) {
  .add-review-container .add-review .right-side {
    display: none;
  }
}

@media (max-width: 750px) {
  .add-review-container .add-review .right-side {
    width: 100%;
    margin: 0 auto;
    max-width: none;
  }
}

.add-review-container .add-review .right-side {
  max-width: 400px;
  margin-left: 55px;
}

@media (max-width: 750px) {
  .add-review-container .add-review .right-side {
    width: 100%;
    margin: 0 auto;
    max-width: none;
  }
}

.add-review-container .add-review .right-side {
  max-width: 400px;
  margin-left: 55px;
}

.survey .event-details .form-input {
  box-sizing: border-box;
  padding: 15px;
  max-width: 460px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: none;
}

.add-review-container .add-review .right-side .provider-fixed-container {
  position: sticky;
  top: 180px;
  text-align: center;
}

@media (max-width: 750px) {
  .survey .survey-form .answer-container {
    border: none;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media (max-width: 750px) {
  .survey .survey-form .answer-container .answer {
    max-width: 460px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px 0;
    width: 100%;
  }
}

.provider-section_stories {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.provider-section_stories .right-side {
  max-width: 400px;
  margin-left: 55px;
}

.provider-section_stories .right-side .provider-fixed-container {
  position: sticky;
  top: 180px;
  text-align: center;
}

.provider-section_stories .right-side .provider-photo {
  max-width: 300px;
  width: 100%;
}

.provider-section_stories .right-side .provider-fixed-container > img {
  max-width: 240px;
  border-radius: 50%;
}

.provider-section_stories
  .right-side
  .provider-fixed-container
  .supplier-total-reviews {
  color: #989898;
  font-size: 38px;
  font-family: almoni-tzar, sans-serif;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  line-height: 70px;
  margin: 15px 0 20px;
}

.provider-section_stories
  .right-side
  .provider-fixed-container.sticky-container
  .supplier-total-reviews {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.provider-section_stories
  .right-side
  .provider-fixed-container
  .add-review
  > a
  > .icon-plus {
  font-size: 19px;
  margin-left: 12px;
  position: relative;
  top: 1px;
  right: 0;
}

.provider-section_stories .right-side {
  max-width: 400px;
  margin-left: 55px;
}

.provider-section_stories .right-side .provider-fixed-container {
  position: sticky;
  top: 180px;
  text-align: center;
}

.provider-section_stories .left-side .provider-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.provider-section_stories .left-side .provider-header > div:first-of-type {
  width: 100%;
}

.provider-section_stories .left-side .provider-header .provider-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.provider-section_stories .left-side .provider-header > div:first-of-type div {
  color: #989898;
  font-size: 45px;
}

.provider-section_stories .left-side .provider-header .provider-top > div {
  width: 260px;
  height: 55px;
  display: flex;
  border-radius: 33px;
  text-align: center;
  background-color: #e6e6e6;
  cursor: pointer;
}

.provider-section_stories .left-side .provider-header h1 {
  font-size: 26px;
  color: #000;
  font-weight: 700;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories .left-side .provider-header .business-info {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  width: 100%;
  color: #000;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 35px;
  justify-content: space-between;
}

.provider-section_stories .left-side .provider-header .total-reviews {
  box-sizing: border-box;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  cursor: pointer;
  flex-direction: column;
  color: #989898;
  font-size: 56px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.mobile-only {
  display: none;
}

.provider-section_stories
  .left-side
  .provider-header
  .provider-top
  > div
  a
  .icon-plus {
  font-size: 20px;
  margin-left: 12px;
  position: relative;
  top: 3px;
  right: 0;
}

i {
  font-family: wedreviews_front !important;
  /* speak: none; */
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.provider-section_stories
  .left-side
  .provider-header
  .provider-top
  > div.add-review {
  background-color: #c69ba4;
  width: 210px;
  height: 50px;
  letter-spacing: 1px;
}

.provider-section_stories .left-side .provider-header > div:first-of-type div {
  color: #989898;
  font-size: 45px;
}

.provider-section_stories
  .left-side
  .provider-header
  .provider-top
  > div
  a
  .icon-plus:before {
  color: #fff;
}

.icon-plus:before {
  content: "\e922";
  color: #d77da2;
}

.provider-section_stories .left-side .provider-header .provider-top > div a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  flex-grow: 1;
  font-weight: 700;
  line-height: 51px;
}

.provider-section_stories .left-side .filters-container {
  margin: 0 auto;
}

.provider-section_stories .left-side .filters-container .filter-title {
  font-size: 18px;
  color: #000;
}

.provider-section_stories .left-side .filters-container .filters {
  display: flex;
  margin: 0 0 20px;
  flex-flow: wrap;
  font-size: 16px;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories .left-side .filters-container .filters {
  display: flex;
  margin: 0 0 20px;
  flex-flow: wrap;
  font-size: 16px;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories .left-side .crew-members-container .caption {
  line-height: 40px;
  width: 180px;
}

.provider-section_stories .left-side .crew-members-container > div {
  font-size: 16px;
  font-weight: 700;
}

.provider-section_stories .left-side .crew-members-container .crew-members {
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 50px;
  padding: 10px 20px;
  max-width: 250px;
  width: 100%;
}

.provider-section_stories
  .left-side
  .crew-members-container
  .crew-members
  .crew-member {
  font-size: 14px;
  color: #989898;
  user-select: none;
}

.provider-section_stories .left-side .crew-members-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  min-height: 50px;
  position: relative;
}

.provider-section_stories .left-side .stories {
  margin: 0 auto;
}

.provider-section_stories .left-side .stories .secret-group-story {
  display: none;
}

.provider-section_stories .left-side .stories .story {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  padding: 30px 40px 0;
}

.provider-section_stories .left-side .stories .story .story-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.provider-section_stories .left-side .stories .story .story-top .story-right {
  display: flex;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-replier-photo {
  margin: 0 0 20px 20px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail {
  margin-top: 8px;
  margin-bottom: 45px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .couple-name {
  font-size: 18px;
  color: #000;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .event-date {
  font-size: 14px;
  font-weight: 700;
  color: #b2b2b2;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .replier_name {
  font-size: 14px;
  font-weight: 700;
  color: #d67da1;
}

.provider-section_stories .left-side .stories .story {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  padding: 30px 40px 0;
}

.provider-section_stories .left-side .stories .story .story-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.provider-section_stories .left-side .stories .story .review-body {
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.provider-section_stories .left-side .stories .story .story-top .story-right {
  display: flex;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-replier-photo {
  margin: 0 0 20px 20px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail {
  margin-top: 8px;
  margin-bottom: 45px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-replier-photo
  > img {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 1px 1px #f0f0f0;
  display: flex;
  height: 94px;
  width: 94px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .couple-name {
  font-size: 18px;
  color: #000;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .event-date {
  font-size: 14px;
  font-weight: 700;
  color: #b2b2b2;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .replier_name {
  font-size: 14px;
  font-weight: 700;
  color: #d67da1;
}

.provider-section_stories .left-side .stories .story .review-body .read-more {
  cursor: pointer;
  display: block;
  text-align: left;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .review-body
  .read-more
  > .icon-triangle-down {
  font-size: 13px;
  position: relative;
  top: 1px;
  left: -3px;
}

@media (min-width: 750px) {
  .provider-section_stories .left-side .last-posts-wrapper-desktop-only {
    display: block;
  }
}

.provider-section_stories .left-side .last-posts-wrapper-desktop-only {
  display: none;
}

.provider-section_stories .left-side .last-posts-wrapper {
  justify-content: center;
  text-align: center;
}

.provider-section_stories .left-side .last-posts-wrapper .title {
  width: auto;
  background-color: #c69ba3;
  color: #fff;
  padding: 3px 5px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.provider-section_stories .left-side .last-posts-wrapper .description {
  font-size: 16px;
  margin: 20px 7px;
}

.provider-section_stories .left-side .last-posts-wrapper .last-posts {
  margin: 5px;
}

@media (min-width: 750px) {
  .provider-section_stories .left-side .last-posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.provider-section_stories .left-side .last-posts {
  font-size: 18px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.provider-section_stories .left-side .last-posts-wrapper .last-posts a {
  text-decoration: none;
}

.provider-section_stories .left-side .last-posts a {
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000;
  text-align: center;
  height: 100%;
  width: 100%;
}

@media (min-width: 750px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .image-container {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (min-width: 480px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .image-container {
    max-height: 230px;
    max-width: 230px;
  }
}

@media (min-width: 375px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .image-container {
    max-height: 166px;
    max-width: 166px;
  }
}

.provider-section_stories
  .left-side
  .last-posts-wrapper
  .last-posts
  a
  .image-container {
  max-width: 136px;
  max-height: 136px;
}

@media (min-width: 750px) {
  .provider-section_stories .left-side .last-posts a .image-container {
    max-height: 263px;
    max-width: 330px;
  }
}

@media (min-width: 480px) {
  .provider-section_stories .left-side .last-posts a .image-container {
    max-height: 200px;
    max-width: 330px;
  }
}

.provider-section_stories .left-side .last-posts a .image-container {
  margin: 0 auto 10px;
  max-height: 165px;
  max-width: 156px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.provider-section_stories
  .left-side
  .last-posts-wrapper
  .last-posts
  a
  .couple-name {
  text-align: center;
}

@media (min-width: 750px) {
  .provider-section_stories .left-side .last-posts a .couple-name {
    font-size: 18px;
  }
}

.provider-section_stories .left-side .last-posts a .couple-name {
  font-size: 15px;
  line-height: 12px;
  width: 100%;
}

@media (min-width: 750px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .review-snippet {
    max-width: 300px;
    max-height: 300px;
    margin: 7px auto;
  }
}

@media (min-width: 480px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .review-snippet {
    max-height: 230px;
    max-width: 230px;
    margin: 0 auto 7px;
  }
}

@media (min-width: 375px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .review-snippet {
    max-height: 166px;
    max-width: 166px;
    margin: 0 auto 7px;
  }
}

.provider-section_stories
  .left-side
  .last-posts-wrapper
  .last-posts
  a
  .review-snippet {
  font-size: 12px;
  margin: 0 auto 7px;
  text-align: center;
  max-width: 136px;
}

@media (min-width: 750px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .credits-post-supplier-link {
    margin-bottom: 20px;
    margin-top: 90px;
  }
}

.provider-section_stories
  .left-side
  .last-posts-wrapper
  .credits-post-supplier-link {
  display: block;
  text-align: left;
  margin-left: 5px;
  text-decoration: underline;
  color: #000;
  font-weight: 700;
  font-family: almoni-neue-bold, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.provider-section_stories
  .left-side
  .last-posts-wrapper
  .credits-post-supplier-link
  .icon-left {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
}

@media (min-width: 750px) {
  .provider-section_stories .left-side .last-posts-wrapper-desktop-only {
    display: block;
  }
}

@media (min-width: 750px) {
  .provider-section_stories .left-side .last-posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.provider-section_stories .left-side .last-posts a .image-container img {
  height: 100%;
  min-height: auto;
  min-width: auto;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 750px) {
  .provider-section_stories
    .left-side
    .last-posts-wrapper
    .last-posts
    a
    .image-container {
    max-width: 300px;
    max-height: 300px;
  }
}

.provider-section_stories .left-side .stories .story .story-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.provider-section_stories .left-side .stories .story .review-body {
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.provider-section_stories .left-side .stories .story .other-suppliers {
  display: flex;
  flex-wrap: wrap;
}

.provider-section_stories .left-side .stories .story .story-top .story-right {
  display: flex;
}

.provider-section_stories .left-side .stories .story .story-top .story-left {
  margin-top: 8px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-replier-photo {
  margin: 0 0 20px 20px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail {
  margin-top: 8px;
  margin-bottom: 45px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-replier-photo
  > img {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 1px 1px #f0f0f0;
  display: flex;
  height: 94px;
  width: 94px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .couple-name {
  font-size: 18px;
  color: #000;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .event-date {
  font-size: 14px;
  font-weight: 700;
  color: #b2b2b2;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .story-top
  .story-right
  .story-basic-detail
  .replier_name {
  font-size: 14px;
  font-weight: 700;
  color: #d67da1;
}

.provider-section_stories .left-side .stories .story .other-suppliers {
  display: flex;
  flex-wrap: wrap;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .other-suppliers
  .other-suppliers-title {
  font-size: 20px;
  margin: 30px auto 28px;
  line-height: 22px;
  width: 100%;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories .left-side .stories .story .other-suppliers a {
  display: flex;
  text-decoration: none;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .other-suppliers
  a
  .supplier-name-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 26px;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .other-suppliers
  a
  .supplier-name-container
  .category-name {
  font-size: 16px;
  font-weight: 700;
  color: #d77da2;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .other-suppliers
  a
  .supplier-name-container
  .supplier-name {
  font-size: 16px;
  color: #000;
  text-decoration: underline;
  margin-bottom: 35px;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories .left-side .stories .story .review-body .read-more {
  cursor: pointer;
  display: block;
  text-align: left;
  font-family: almoni-neue-bold, sans-serif;
}

.provider-section_stories .left-side .stories .hidden {
  display: none;
}

.provider-section_stories
  .left-side
  .stories
  .story
  .review-body
  .read-more
  > .icon-triangle-down {
  font-size: 13px;
  position: relative;
  top: 1px;
  left: -3px;
}

/* .category-153279 {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23ffffff%3B%7D.cls-2%7Bfill%3A%23f1cbc2%3B%7D.cls-3%7Bfill%3A%23f7dfda%3B%7D.cls-4%7Bfill%3A%23e68e8d%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-dress%3C/title%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%2230%22%20cy%3D%2230%22%20r%3D%2228.46%22/%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M46.11,40c-3.42-3.3-8.37-10.44-10.48-13.7a22.52,22.52,0,0,0-2.11-2.83c-.05,0-2,.08-3.64.14,0,0-3.59-.1-3.64-.14a22.52,22.52,0,0,0-2.11,2.83C22,29.53,17.07,36.67,13.65,40a19.84,19.84,0,0,0,2.85,2.5,1.86,1.86,0,0,0,.2,1.13c.53.61,3.64,1.68,4,1.89a4.62,4.62,0,0,0,1.8.63c.91.15-1.13.34,2.45,1.11,2.06.45,2.19.38,2.2.36a11.91,11.91,0,0,0,5.5,0s.14.09,2.2-.36c3.58-.77,1.55-.88,2.46-1s-.31-1,0-1.18a32.91,32.91,0,0,0,4.1-2.11c.57-.57.4-.63.4-.63l1.53.13A18,18,0,0,0,46.11,40Z%22/%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M28.15,23.51c-.59,1-11.68,18.94-11.65,19l-.73,1a3.57,3.57,0,0,0,.39.42A34.51,34.51,0,0,0,20.26,46a12.74,12.74,0,0,0,2.22.22c.11,0,.49.13.39.13l6.48-22.8Z%22/%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M31.61,23.51c.6,1,11.76,18.88,11.74,18.9l.68.83s0,.27-.43.66A36.08,36.08,0,0,1,39.5,46a10.78,10.78,0,0,1-2.18.29,1.72,1.72,0,0,0-.35.12L30.41,23.56Z%22/%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M29.88,14.61c-1.09,0-3.47-3.1-3.47-3.1a6,6,0,0,0-3,1.2.54.54,0,0,0-.19.51L25,15.36a3.3,3.3,0,0,0-.74,1.34c0,.09,1.57,4.87,1.6,4.87a18.51,18.51,0,0,0,4,.37,19.27,19.27,0,0,0,4-.36s1.65-4.79,1.62-4.88a3.3,3.3,0,0,0-.74-1.34l1.84-2.14a.52.52,0,0,0-.19-.51,6,6,0,0,0-3-1.2S31,14.61,29.88,14.61Z%22/%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M25.84,21.46s.2,1.09.31,2.07a19.85,19.85,0,0,0,3.73.41,19.85,19.85,0,0,0,3.73-.41c.11-1,.31-2.07.31-2.07a17.24,17.24,0,0,1-4,.39A17.24,17.24,0,0,1,25.84,21.46Z%22/%3E%3C/svg%3E");
} */

.provider-section_stories
  .left-side
  .stories
  .story
  .other-suppliers
  a
  .supplier-logo
  .category-icon {
  height: 53px;
  margin-left: 20px;
  width: 53px;
}

.provider-section_stories .left-side .stories .load-stories {
  margin: 30px auto 30px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 18px;
  background-color: #c69ba3;
  max-width: 150px;
  width: 100%;
}

.category .promoted-text {
  margin: 20px;
}

.category {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-flow: column;
}

.category .subcategory {
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

@media (min-width: 750px) {
  .category .subcategory {
    font-size: 21px;
  }
}

@media (min-width: 750px) {
  .category .category-order {
    font-size: 27px;
  }
}

.category .category-order {
  font-size: 19px;
  margin-top: 40px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

@media (max-width: 750px) {
  .mobile-only {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .search-section .add-review-button {
    bottom: 14%;
  }
}

.credits-posts .open-more-posts-button .pink-button {
  font-family: almoni-neue-regular, sans-serif;
  padding: 10px 20px;
}

@media (min-width: 750px) {
  .credits-posts .open-more-posts-button .home-more-posts {
    float: left;
    margin-left: 23px;
  }
}

.credits-posts .open-more-posts-button .home-more-posts {
  font-family: almoni-neue-regular, sans-serif;
}

@media (min-width: 750px) {
  .top-talking-about {
    padding-right: 30px;
  }
}

@media (min-width: 500px) {
  .top-talking-about {
    padding-right: 50px;
  }
}

.top-talking-about {
  padding-right: 50px;
}

.credits-posts .btn .pink-button {
  margin: 30px auto 30px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 18px;
  background-color: #c69ba3;
  max-width: 150px;
  width: 100%;
  background-color: #de97b2;
  max-width: 202px;
  border: none;
  padding: 14px 20px;
}

@media (min-width: 750px) {
  .latest_review_headline {
    font-size: 22px;
  }
}

.latest_review_headline {
  font-size: 24px;
  font-weight: 800;
}

@media (min-width: 750px) {
  .subsection {
    background-color: #f6f6f6;
    flex-flow: wrap-reverse;
  }
}

@media (min-width: 750px) {
  .subsection {
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
  }
}

.subsection {
  /* background-color: #d2d2d2; */
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 5px 20px 5px 0;
  margin-top: 20px;
  overflow: hidden;
}

@media (min-width: 750px) {
  .top-talking-about {
    padding-right: 30px;
  }
}

@media (min-width: 500px) {
  .top-talking-about {
    padding-right: 50px;
  }
}

.top-talking-about {
  padding-right: 50px;
}

.top-talking-about img {
  width: 95px;
  height: 100px;
}

.subsection .facebook_pics {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 750px) {
  .headline {
    margin-top: 30px;
    font-size: 30px;
  }
}

.headline {
  background-color: #d49bb1;
  text-align: center;
  font-size: 22px;
}

@media (min-width: 750px) {
  .latest-reviews .title {
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #d49bb1;
    line-height: .1px;
    margin: 10px 0 20px;
    display: block;
  }
}

.latest-reviews .title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 750px) {
  .need-to-know .title {
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #d49bb1;
    line-height: .1px;
    margin: 10px 0 20px;
    display: block;
  }
}

.need-to-know .title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 38px;
}

@media (min-width: 750px) {
  .need-to-know .title span {
    position: relative;
    line-height: 1px;
  }
}

.need-to-know .title span {
  background: #fff;
  padding: 0 12px;
}